Hi <%= @subscriber.name %>!
We are glad to confirm your subscription to our Newsletter 📢</p>
Don't wait anymore, and find your next destination:  <%= @link_root %>
You'll also find hereunder your unsubscribe link, please keep it:
To unsubscribe: <%= @link_unsubscribe %>
