<h1 class="color-blue-dark">Hi <%= @subscriber.email %>!</h1>
<p>We are glad to confirm your subscription to our Newsletter 📢</p>
</br>
Don't wait anymore, and
<a href="<%= @link_root %>">Find your next destination!</a></br></br>
You'll also find hereunder your unsubscribe link, please keep it:</br>
<a href="<%= @link_unsubscribe %>">Unsubscribe</a>
