<div class="container-fluid p-20">
  <%= link_to 'Show Post', blog_path(@blog), class: 'btn btn-secondary' %>
  <%= link_to 'All Posts', blogs_path, class: 'btn btn-secondary' %>

  <h1>Editing blog</h1>

  <%= render "form", blog: @blog %>

</div>
