// Technical colors for the components
$secondary: #6c757d;
$secondary_bis: darken($secondary, 8%);
$success: #1FC97A; // #198754;
$success_bis: darken($success, 8%);
$danger: #dc3545;
$danger_bis: darken($danger, 8%);
$warning: #ffc107;
$warning_bis: darken($warning, 8%);
$info: #0dcaf0;
$info_bis: darken($info, 8%);
$light: #f8f9fa;
$light_bis: darken($light, 8%);
$white: #ffffff;
$white_bis: darken($white, 8%);
$dark: #042A2B;
$dark_bis: darken($dark, 8%);
$gray: #707880;
$light-gray: #b5c0ca;

// Weekend-Fly branding
//https://coolors.co/042a2b-5eb1bf-cdedf6-ef7b45-d84727
$primary: #D84727;// Chili red
$primary_bis: darken($primary, 8%);
$color1: #ef7b45; //orange
$color1_bis: darken($color1, 8%);
$color2: #cdedf6; //light cyan
$color2_bis: darken($color2, 8%);
$color3: #5EB1BF; //moonstone (bleu)
$color3_bis: darken($color3, 8%);
$color4: #27925E; // Green sustainable
$color4_bis: darken($color4, 8%);

$body-color: $color2;
$text-color: $dark;
