#airport-header {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  color: $light;

  h1 {
    color: $light;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  a {
    color: $light;
  }
  img {
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

#airport-background {
  position: absolute;
  top: 64px;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#airport-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1.5em;

  .grouped-card {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  h4 {
    font-size: 1.1em;
    margin: 0;
  }

  p {
    margin: 0;
  }
}
