.home-banner{
  margin: 0 auto; 
  padding: 150px 0;
  position: relative;
  text-align: center;
  background-color: $color4;
  p {
    font-size: 1.5em;
  }
}
.home-banner__body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto; 
}
@media only screen and (min-width: 768px) {
  .home-banner__body{
    padding: 0 20px;
  }
}
