#pilot-header {
  border-bottom: 1px solid $light;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  h1 {
    margin: 0;
    font-size: 1em;
    line-height: 1.2em;
  }

  p {
    margin: 0;
  }
}

.pilot-header__profile {
  display: flex;
  align-items: center;
  gap: 12px;

  .pilot-name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.pilot-header__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pilot-header-social {
  display: flex;
  justify-content: center;
  gap: 12px;

  .pilot-header-social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    h3 {
      margin: 0;
    }
  }
}

.social-media-items {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .social-media-item {
    display: flex;
    align-items: center;
    gap: 8px;

    &:not(.social-media-item:last-child) {
      .circle::after {
        content: '';
        border-left: 1px solid $light-gray;
        height: 12px;
        width: 2px;
        position: absolute;
        bottom: -50%;
        left: 50%;
      }
    }

    &:not(.social-media-item:first-child) {
      .circle::before {
        content: '';
        border-left: 1px solid $light-gray;
        height: 12px;
        width: 2px;
        position: absolute;
        top: -50%;
        left: 50%;
      }
    }
  }

  p {
    margin: 0;
  }
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $primary;
  position: relative;
}

@media screen and (min-width: 768px) {
  #pilot-header {
    h1 {
      font-size: 1.2em;
    }
  }
}
