<div class="container py-10">
  <div class="d-flex justify-content-end">
    <%= link_to "Add Event", new_event_path, class: "btn btn-primary mt-10" if current_user.admin? %>
  </div>
  <h1 class="text-center">All events</h1>
  <div class="cards">
    <%= render "events", events: @events %>
  </div>
</div>
