<div class="container-lg pb-20">
  <h1>Politique de confidentialité</h1>
  <p class="fs-0-8">Date de dernière mise à jour: 22 Janvier 2024</p>
  </br>
  Chez Sky Unlimited, lorsque nous traitons vos données personnelles, nous accordons une importance primordiale à la sécurité et à la transparence. Pour vous fournir une compréhension claire des informations que nous recueillons à votre sujet, de leur utilisation et de vos droits, nous avons élaboré la présente Politique de confidentialité détaillée.
  <h2>Sommaire</h2>
    <ul>
      <li><a href="#article1" class="link-primary fs-1-2">Généralités</a></li>
      <li><a href="#article2" class="link-primary fs-1-2">Utilisation de vos informations (finalité du traitement des données personnelles)</a></li>
      <li><a href="#article3" class="link-primary fs-1-2">Traitement lors de l’utilisation de notre formulaire de contact</a></li>
      <li><a href="#article4" class="link-primary fs-1-2">Informations personnelles que vous partagez à la communauté</a></li>
      <li><a href="#article5" class="link-primary fs-1-2">Partager des informations avec d’autres (destinataires des données personnelles)</a></li>
      <li><a href="#article6" class="link-primary fs-1-2">Conservation des données personnelles</a></li>
      <li><a href="#article7" class="link-primary fs-1-2">Sécurité des données personnelles</a></li>
      <li><a href="#article8" class="link-primary fs-1-2">Contrôler vos informations personnelles : Vos droits</a></li>
      <li><a href="#article9" class="link-primary fs-1-2">Les données à caractère non personnel – Informations informatiques que nous recueillons</a></li>
      <li><a href="#article10" class="link-primary fs-1-2">Politique des cookies - Plugin</a></li>
      <li><a href="#article11" class="link-primary fs-1-2">Sécurité de l’information</a></li>
      <li><a href="#article12" class="link-primary fs-1-2">Sécurité des serveurs – Transferts internationaux</a></li>
      <li><a href="#article13" class="link-primary fs-1-2">Contacter Sky Unlimited – Rapport d’abus</a></li>
      <li><a href="#article14" class="link-primary fs-1-2">Modifications – Acceptation de la politique</a></li>
    </ul>

  <h2 id="article1">Généralités</h2>
  Nous prenons votre vie privée très au sérieux et nous conformons aux exigences du règlement général sur la protection des données (RGPD UE 2016/679).</br></br>
  La présente Politique de confidentialité s’applique à notre service en ligne "<b>Weekend-Fly</b>" (ci-après le "Site", les "Services", ou encore la "Plateforme").
  Le responsable du traitement de vos données à caractère personnel est <b>Sky Unlimited</b>, une entreprise luxembourgeoise située au 29 Boulevard Prince Henri L-1724 Luxembourg, notre numéro de société est le B278638.
  </br></br>
  Pour vous fournir nos Services, d'améliorer les fonctionnalités et le contenu, d'administrer votre compte d'utilisateur et de vous permettre de profiter et de naviguer facilement sur le sur notre Plateforme, nous recueillons des données vous concernant pour l'inscription, vos préférences, la facturation et la personnalisation de votre compte d'utilisateur. Il peut s'agir également de données personnelles que vous nous fournissez en utilisant nos Services.
  </br></br>
  Votre utilisation des Services est soumise aux <%= link_to 'Conditions générales', legal_terms_and_conditions_path %>, à la présente Politique de confidentialité et indique votre consentement à celles-ci.

  <h3>Propriétaire et responsable du Traitement des données</h3>
  Toute demande ou question relative à la protection de la vie privée sur notre Plateforme peut être posée via le formulaire établi à cet effet, disponible sur <a href="https://weekend-fly.com">weekend-fly.com</a>.

  <h3>Collecte des données</h3>
  Il convient de distinguer les données à caractère personnel et celles à caractère non personnel. La simple visite de notre Site n’entraîne pas la collecte de données et informations à caractère personnel de l’Utilisateur.  Les données à caractère personnel de l’Utilisateur peuvent être collectées, sous réserve de l’accord de l’Utilisateur après que celui-ci ait dûment créé un compte d'utilisateur sur notre Plateforme, que ce soit dans le cadre d'un essai gratuit, d'une souscription à un abonnement ou de l'inscription à notre Newsletter en donnant son email.
  </br></br>
  Nos Services ne sont pas destinés à être utilisés par des personnes de moins de 18 ans. Si vous avez moins de 18 ans, vous ne pouvez pas utiliser nos Services sans l'aval d'un parent.
  </br></br>
  Pour utiliser nos Services, vous devez créer un compte d'utilisateur dans lequel vous pouvez paramétrer vos préférences, lesquelles sont modifiables à tout moment ou créer un compte partenaire.
  </br></br>
  Weekend-Fly reliera toutes vos informations à votre compte conformément à la présente politique de confidentialité. Les catégories d'informations collectées par notre Site comprendront tout ou partie des éléments suivants, selon la façon dont vous choisissez d'utiliser nos Services.
  </br></br>
  Chaque fois que vous utilisez nos Services, nous traiterons les données suivantes:
  <p><b>Données à caractère personnel</b></p>
  <ul>
    <li>Un compte d'utilisateur comme : un avatar (optionnel), un nom d'utilisateur, une adresse électronique, votre mot de passe, ainsi que vos préférences comprenant votre aéroport d'origine (identifiant votre pays d'origine)</li>
    <li>Un compte partenaire comprenant :  le nom de la société, l'activité, la description de vos services, le numéro SIRET et la TVA Applicable.</li>
  </ul>
  Nous attirons votre attention que des informations fausses, incorrectes ou obsolètes peuvent nuire à notre capacité à vous fournir les Services et à vous contacter si nécessaire. Nous indiquerons explicitement les champs pour l'achèvement obligatoire. Si vous n'entrez pas les données requises dans ces champs, il se peut que vous ne puissiez pas configurer un compte d'utilisateur ou un compte partenaire.
  </br></br>
  Les informations que vous partagez peuvent aussi être à caractère personnel si par vos hyperliens, commentaires, numéro d’immatriculation aéronef ou marque d’aéronef, il est possible de vous identifier. Vous aurez cependant la possibilité de choisir les informations exposées aux autres utilisateurs.
  <p><b>Données de facturation</b></p>
  Les informations de facturation telles que votre nom, prénom, raison sociale, adresse, pays de résidence, téléphone (optionnel) y compris les informations sur les Services que vous achetez ou sur lesquels vous faites une demande afin d'établir une facture. Ces informations sont légalement demandées afin de pouvoir vous éditer une facture.
  </br></br>
  Tout payement s'effectue par l'intermédiaire de fournisseurs de services de paiement externes, basés en Europe. Ainsi vos données de paiement ne seront pas stockées chez nous.

  <h2 id="article2">Utilisation de vos informations (finalité du traitement des données personnelles)</h2>
  Nous pouvons utiliser les informations recueillies auprès de vous ou fournies par vous afin de vous identifier comme utilisateur unique :
  <ul>
    <li>pour gérer votre compte d'utilisateur</li>
    <li>pour communiquer avec vous en général ; répondre à vos questions et commentaires, vos demandes de service; et traiter les plaintes</li>
    <li>pour traiter les transactions ;</li>
    <li>pour vous envoyer nos Newsletter, à condition que vous ne vous désinscriviez pas;</li>
    <li>pour vous envoyer nos recommandation de destination du week-end, à condition que vous ne vous désinscriviez pas;</li>
    <li>pour vous envoyer des informations ponctuelles quant à l'utilisation de nos Service;</li>
    <li>pour vous afficher des annonces sponsorisées en lien avec vos destinations;</li>
    <li>pour mener des enquêtes et des questionnaires;</li>
    <li>pour faire respecter les conditions d'utilisation;</li>
    <li>pour vous contacter lorsque nous le jugeons nécessaire;</li>
    <li>pour se conformer à toute loi applicable et aider les organismes d'application de la loi en vertu de toute loi applicable, lorsque nous croyons de bonne foi que la coopération de Sky Unlimited avec les organismes d'application de la loi est légalement mandatée ou répond aux normes et procédures juridiques applicables;</li>
    <li>pour prévenir les activités potentiellement interdites ou illégales, prévenir la fraude, le détournement de fonds, les infractions, le vol d'identité et d'autres activités illégales et l'utilisation abusive de nos Services;</li>
    <li>pour gérer les pannes et les dysfonctionnements;</li>
    <li>pour prendre des mesures en cas de litige ou de procédure judiciaire de quelque nature que ce soit entre vous et nos Services, ou entre vous et d'autres utilisateurs ou tiers en ce qui concerne notre Plateforme ou en relation avec celle-ci;</li>
    <li>aux fins prévues par la présente politique de confidentialité et les conditions d'utilisation;</li>
    <li>dans ses interactions avec ses sous-traitants, comme nos communications par email;</li>
	  <li>Pour fournir, soutenir, personnaliser, et développer notre site Web, nos produits et services;</li>
	  <li>Pour personnaliser votre expérience</li>
    <li>Pour vous informer sur de nouveaux produits, mises à jour, événements et services</li>
  </ul>

  <h2 id="article3">Traitement lors de l’utilisation de notre formulaire de contact</h2>
  Votre demande, y compris toutes les données personnelles qui en découlent (nom, demande..), sera stockée et traitée par nous dans le but de vous répondre, conformément à l'art. 6 paragraphe 1, point a du RGPD sur la base de votre consentement volontaire.
  </br></br>
  Nous ne transmettons pas ces données sans votre consentement.
  </br></br>
  Si votre demande est liée à l'exécution d'un contrat ou est nécessaire à l'exécution de mesures pré-contractuelles, le traitement de ces données est effectué sur la base de l'article 6, paragraphe 1, point b) du RGPD
  </br></br>
  Dans tous les autres cas, le traitement est basé sur notre intérêt légitime à traiter efficacement les demandes qui nous sont adressées (article 6, paragraphe 1, point f du RGPD) ou sur votre consentement (article 6, paragraphe 1, point a) du RGPD) s'il a été demandé ; le consentement peut être révoqué à tout moment.
  </br></br>
  Les données que vous nous avez envoyées par le biais de demandes de contact restent chez nous jusqu'à ce que vous nous demandiez de les supprimer, que vous révoquiez votre consentement au stockage ou que la finalité du stockage des données ne s'applique plus. Les dispositions légales obligatoires – en particulier les délais de conservation légaux – ne sont pas affectées.

  <h2 id="article4">Informations personnelles que vous partagez à la communauté</h2>
  Weekend-Fly voit la plateforme communautaire comme un atout, permettant aux utilisateurs de partager aux membres d'utilisateurs des informations utiles aux pilotes, d'échanger sur les destinations, les aéroports (prix de l'essence, ..)  de proposer des événements, etc.
  </br></br>
  Le choix d’aider mutuellement les autres pilotes à trouver des destinations de voyages, de mettre ou non du contenu sur nos Services, la visibilité de vos informations aux autres membres de cette communauté, vous appartient.
  </br></br>
  Nous attirons cependant votre attention sur le contenu que vous choisissez de partager avec tous les utilisateurs, ou partie, n'est ni privé ni confidentiel. En particulier si vous choisissez de partager un hyperlien reliant à des informations personnelles telles que le nom, photo, blog, proposition d'évènement...
  </br></br>
  Le nom d'utilisateur unique que vous choisissez (sous réserve de disponibilité) sera utilisé pour vous identifier lorsque vous utiliserez nos Services. Il sera associé, visible et conservé à toute publication que vous ferez (commentaire, ajout d'informations, ...).
  </br></br>
  C’est vous en tant qu’utilisateur qui choisissez vos informations qui seront accessibles à tous les membres d'utilisateurs, restreintes à votre propre communauté ou encore privées.
  </br></br>
  Nous n’avons aucun contrôle sur la conduite d'un autre utilisateur et déclinons toute responsabilité à cet égard. Il est conseillé aux utilisateurs de veiller attentivement s'il convient ou non de rendre publique ou disponible toute information et d'examiner soigneusement tous les détails nécessaires liés à toute communication avec d'autres utilisateurs avant tout engagement ou communication.
  </br></br>
  L'utilisateur a la seule et ultime responsabilité en ce qui concerne le respect de toutes les lois, réglementations ou tout autre devoir. Nous n'acceptons aucune responsabilité pour toute perte, dommage, coût ou dépense que vous pourriez subir ou encourir à la suite ou en relation avec votre participation à toute activité ou événement initié, détenu ou mené par un utilisateur ou un tiers, ni dans le cadre d'un accord entre les utilisateurs ou des tiers, y compris toute activité ou événement lié de quelque manière que ce soit, directement ou indirectement, à notre Service ou à leur utilisation.

  <h2 id="article5">Partager des informations avec d’autres (destinataires des données personnelles)</h2>
  Sky Unlimited ne commercialise ni ne loue vos informations personnelles à des tiers.
  </br></br>
  Sky Unlimited ne partagera pas vos informations personnelles avec d'autres personnes, sans votre consentement, sauf aux fins suivantes et dans la mesure nécessaire à la discrétion de bonne foi de la société :
  <ul>
    <li>si nécessaire pour le fonctionnement des Services;</li>
    <li>si nous croyons raisonnablement que vous avez enfreint les conditions d'utilisation, ou que vous avez abusé de vos droits d'utilisation des Services, ou que vous avez accompli un acte ou une omission qui, selon Sky Unlimited, selon nous, enfreint toute loi, règle ou réglementation applicable. Sky Unlimited peut partager vos informations dans ces cas, avec les organismes d'application de la loi et d'autres autorités compétentes et avec tout tiers qui peut être tenu de traiter tout résultat de vos actes répréhensibles ;</li>
    <li>si nous sommes tenus, ou croyons raisonnablement être tenu par la loi de partager ou de divulguer vos informations;</li>
    <li>dans tout cas de litige ou de procédure judiciaire de quelque nature que ce soit entre vous et Sky Unlimited, ou entre vous et d'autres utilisateurs en ce qui concerne les Services ou en relation avec ceux-ci ;</li>
    <li>dans tous les cas où nous estimons raisonnablement que le partage d'informations est nécessaire pour éviter des dommages physiques imminents ou des dommages matériels ;</li>
    <li>Si Sky Unlimited organise l'exploitation des Services dans un cadre différent, ou par l'intermédiaire d'une autre structure ou entité juridique, ou si Sky Unlimited est acquise ou fusionnée dans ou avec une autre entité, ou si Sky Unlimited fait faillite, à condition toutefois que ces entités acceptent d'être liées par les dispositions de la présente politique de confidentialité, les changements respectifs étant pris en considération ;</li>
    <li>Pour faciliter le Service et pour stocker vos données sur des serveurs dans l'Union européenne.</li>
    <li>Pour collecter, conserver et gérer vos informations personnelles par le biais de services basés sur le cloud ou d'hébergement ou d'un tiers ou d'une partie affiliée ou connectée à Sky Unlimited, dans la mesure du possible à des fins commerciales, qui peuvent être situés dans des pays en dehors de votre juridiction.</li>
    <li>Nous pouvons également partager des informations personnelles avec des entreprises ou des organisations connectées ou affiliées à Sky Unlimited, telles que des filiales, des sociétés sœurs et des sociétés mères. Les informations personnelles peuvent également être partagées avec les autres partenaires et fournisseurs de Services de Wekeend-Fly pour les traiter pour nous, sur la base de nos instructions et conformément à la présente politique et à toute autre mesure de confidentialité et de sécurité appropriée.</li>
  </ul>

  <h2 id="article6">Conservation des données personnelles</h2>
  Afin de respecter votre vie privée, vos données personnelles sont conservées pendant la durée nécessaire à la finalité de leur traitement.
  </br></br>
  Si vous faites valoir une demande de suppression justifiée ou si vous révoquez votre consentement au traitement des données, vos données seront supprimées, à moins que nous n'ayons d'autres raisons légalement autorisées pour le stockage de vos données personnelles (par ex. délais de conservation fiscaux ou commerciaux) ; dans ce dernier cas, la suppression a lieu après la fin de ces raisons.Cela inclut le temps nécessaire pour vous fournir les services demandés, maintenir votre compte, respecter les obligations légales, résoudre les litiges et faire respecter nos accords.
  </br></br>
  L'inactivité d'un compte pendant deux ans entraînera sa fermeture automatiquement.

  <h2 id="article7">Sécurité des données personnelles</h2>
  La sécurité de vos données personnelles est importante pour nous.
Pour garantir un respect optimal de votre vie privée, Sky Unlimited prend les mesures techniques et organisationnelles appropriées pour assurer la sécurité et la confidentialité de vos données à caractère personnel en vue de les protéger contre toute perte, destruction accidentelle, altération et accès non autorisés.
  </br></br>
  Nous suivons les normes de l'industrie généralement acceptées pour protéger les données personnelles qui nous sont soumises, tant pendant la transmission que lors de leur réception. Cependant, aucune méthode de transmission sur Internet ni aucun moyen de stockage électronique ne sont totalement sécurisés à 100 %. Par conséquent, bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos données personnelles, nous ne pouvons garantir leur sécurité absolue.
  </br></br>
  Vos informations de connexion relèvent de votre responsabilité et vous seul, êtes responsable de toute utilisation ou mauvaise utilisation de votre compte et de vos données personnelles à la suite de la transmission de vos données à quelqu'un d'autre. Vous devez conserver vos informations de connexion en toute confidentialité et éviter de les divulguer à d'autres personnes.

  <h2 id="article8">Contrôler vos informations personnelles : Vos droits</h2>
  Vous avez le:
  </br>
  <ul>
    <li><b>Droit d'accès à vos données personnelles:</b> Vous avez le droit d'accéder aux données personnelles vous concernant que nous avons collectées.</li>
    <li><b>Droit de rectification:</b> Vous avez le droit de demander que nous rectifiions ou modifiions les données personnelles incorrectes ou incomplètes vous concernant que nous avons collectées.</li>
    <li><b>Droit à l'oubli:</b> Vous avez le droit de demander que nous effacions toutes vos données personnelles que nous avons collectées lors de votre utilisation de nos Services; sous réserve d'un motif légitime justifiant leur conservation.</li>
    <li><b>Droit à la portabilité:</b> Vous avez le droit de recevoir les données que vous avez fournies sous une forme structurée, actuelle et lisible par une machine, et de transmettre ces données à un autre responsable du traitement.</li>
    <li><b>Droit à l'opposition:</b> Vous avez le droit de vous opposer à tout moment, pour des raisons tenant à votre situation particulière, à un traitement des données à caractère personnel vous concernant à moins que Sky Unlimited ne démontre qu'il existe des motifs légitimes et impérieux pour le traitement qui prévalent sur vos intérêts, vos droits et libertés, ou pour la constatation, l'exercice ou la défense de droits en justice.</br>Si nous vous envoyons des messages de marketing électronique sur la base de votre consentement ou comme le permet autrement la loi applicable, vous pouvez, à tout moment, retirer ce consentement ou déclarer votre objection.Tout message de marketing électronique que vous recevrez de notre part comprendra un mécanisme de désactivation dans le message lui-même, par exemple un lien de « désabonnement » dans l'e-mail que vous recevez de notre part.
    <li><b>Droit à la limitation:</b> Vous avez le droit de demander que nous limitions le traitement de vos données personnelles dans certains cas jusqu'à ce que votre demande d'effacement ou de modification de vos données personnelles ou d'une autre objection soit traitée.</li>
  </ul>
  Vous pouvez consulter vos informations d'utilisateur ou de partenaire à l'aide des paramètres de l'application dans page du compte d'utilisateur sur notre Plateforme.
  </br></br>
  Si vous constatez que les informations associées à votre compte ne sont pas exactes, complètes ou mises à jour, vous devez apporter toutes les modifications nécessaires pour les corriger.
  </br></br>
  Si vous souhaitez faire valoir vos droits, ou que nous supprimions votre compte, votre nom d'utilisateur et vos informations personnelles, nous vous invitons à utiliser le formulaire prévu à cet effet. <%=link_to t('activerecord.models.contact'), new_contact_path, class: 'link-primary', target: "_blank" %>.
  </br></br>
  Dès réception d'une telle demande, Sky Unlimited déploiera des efforts raisonnables pour supprimer ces informations, mais veuillez noter que nous ne pouvons pas supprimer immédiatement les informations de nos systèmes de sauvegarde.Et que certaines informations peuvent être conservées conformément à la loi ou à des fins légitimes liées à l'activité commerciale.

  <h2 id="article9">Les données à caractère non personnel – Informations informatiques que nous recueillons</h2>
 Nous pouvons recueillir des informations sur l'utilisation des Services et des informations à partir du ou des appareils sur lequel vous utilisez Weekend-Fly comme:
  <ul>
    <li>La date et l'heure de l'accès, la fréquence de vos sessions, l'historique des requêtes.</li>
    <li>L'adresse IP de l'appareil demandeur.</li>
  </ul>

  <h2 id="article10">Politique des cookies - Plugin</h2>
  Les seuls cookies utilisés sont d’ordre technique (session), obligatoires au bon fonctionnement de la Plateforme.
  </br></br>
  Nous n'utilisons pas de cookies publicitaires.
  </br></br>
  Sky Unlimited peut effectuer des recherches et compiler des statistiques sur les habitudes d'utilisation globalement de manière anonyme visant à améliorer ses Services.

  <h2 id="article11">Sécurité de l’information</h2>
  Nous veillons à ce que Weekend-Fly soit un lieu convivial et sûr pour ses utilisateurs et Sky Unlimited considère la sécurité de l'information comme une priorité absolue.
  </br></br>
  Nous mettons en place diverses mesures de sécurité pour assurer la protection de vos informations personnelles lorsque vous les saisissez, les soumettez ou y accédez, afin de minimiser les risques de vol, d'endommagement, de perte d'informations, d'accès ou d'utilisation non autorisés des informations.
  </br></br>
  Cependant, toutes nos précautions ne sont pas en mesure de fournir une assurance absolue. Par conséquent, bien que la société fasse de grands efforts pour protéger vos informations personnelles, Sky Unlimited ne peut pas garantir que les bases de données de notre Plateforme soient à l'abri de tout acte répréhensible, dysfonctionnement, d'interception ou d'accès illégal, de défaillance matérielles ou logicielles ou d'autres circonstances, types d'abus et d'utilisation abusive indépendantes de notre volonté.

  <h2 id="article12">Sécurité des serveurs – Transferts internationaux</h2>
  En utilisant notre Plateforme, vous reconnaissez et acceptez que les données personnelles que vous nous soumettez soient hébergées par nous ou un tiers de notre choix pour une période indéterminée au sein de l'Union européenne.
  </br></br>
  Nous prenons des mesures pour nous assurer que vos données personnelles sont traitées de manière sécurisée et conformément à cette politique de confidentialité
  </br></br>
  Votre consentement à la présente politique de confidentialité suivi de votre soumission de données personnelles représente votre consentement explicite à un tel transfert.

  <h2 id="article13">Contacter Sky Unlimited – Rapport d’abus</h2>
  Si vous pensez que votre vie privée a été compromise par une personne, au cours de l'utilisation des Services, ou si vous avez des questions concernant cette politique de confidentialité, les pratiques de ce site Web, ou des plaintes à nous soumettre, veuillez nous contacter via notre formulaire établi à cet effet
<%= link_to t('activerecord.models.contact'), new_contact_path, class: 'link-primary', target: "_blank" %>.

  <h2 id="article14">Modifications – Acceptation de la politique</h2>
  Sky Unlimited se réserve le droit d'apporter toute modification à la Politique de confidentialité "Vie Privée" si elle le juge nécessaire ou souhaitable sans préavis.
  </br></br>
 Si nous apportons des modifications importantes nous vous informerons en publiant la nouvelle politique de confidentialité sur cette page et en vous envoyant un e-mail associé à votre compte. Il est recommandé de consulter périodiquement cette politique de confidentialité pour prendre connaissance des éventuelles modifications. Les changements apportés à cette politique de confidentialité sont effectifs dès leur publication sur cette page.
</div>
