<div class="container-lg pb-20">
  <h1>Privacy Policy</h1>
  <p class="fs-0-8">Last Updated: February, 7th 2024</p>
  </br>
  <p>At Sky Unlimited, when processing your personal data, we prioritize security and transparency. To provide you with a clear understanding of the information we collect about you, its use, and your rights, we have crafted this detailed Privacy Policy.</p>
  <h2>Table of Contents</h2>
    <ul>
      <li><a href="#article1" class="link-primary fs-1-2">General</a></li>
      <li><a href="#article2" class="link-primary fs-1-2">Use of Your Information (Purpose of Processing Personal Data)</a></li>
      <li><a href="#article3" class="link-primary fs-1-2">Processing when Using Our Contact Form</a></li>
      <li><a href="#article4" class="link-primary fs-1-2">Personal Information You Share with the Community</a></li>
      <li><a href="#article5" class="link-primary fs-1-2">Sharing Information with Others (Recipients of Personal Data)</a></li>
      <li><a href="#article6" class="link-primary fs-1-2">Retention of Personal Data</a></li>
      <li><a href="#article7" class="link-primary fs-1-2">Security of Personal Data</a></li>
      <li><a href="#article8" class="link-primary fs-1-2">Control Your Personal Information: Your Rights</a></li>
      <li><a href="#article9" class="link-primary fs-1-2">Non-personal Data - Information We Collect</a></li>
      <li><a href="#article10" class="link-primary fs-1-2">Cookie Policy - Plugin</a></li>
      <li><a href="#article11" class="link-primary fs-1-2">Information Security</a></li>
      <li><a href="#article12" class="link-primary fs-1-2">Server Security – International Transfers</a></li>
      <li><a href="#article13" class="link-primary fs-1-2">Contacting Sky Unlimited – Report Abuse</a></li>
      <li><a href="#article14" class="link-primary fs-1-2">Changes – Acceptance of the Policy</a></li>
    </ul>

  <h2 id="article1">General</h2>
      <p>We take your privacy very seriously and comply with the requirements of the General Data Protection Regulation (GDPR EU 2016/679).</br></br>
  This Privacy Policy applies to our online service "<b>Weekend-Fly</b>" (hereinafter referred to as the "Website," "Services," or the "Platform").

  The data controller for your personal data is <b>Sky Unlimited</b>, a Luxembourg-based company located at 29 Boulevard Prince Henri L-1724 Luxembourg, with company number B278638.
  </br></br>
  To provide you with our Services, improve features and content, administer your user account, and allow you to easily navigate our Platform, we collect data about you for registration, preferences, billing, and customization of your user account. This may also include personal data you provide to us while using our Services.
  </br></br>
  Your use of the Services is subject to the <%= link_to 'Terms and Conditions', legal_terms_and_conditions_path %>, this Privacy Policy, and indicates your consent to them.
  <h3>Owner and Data Controller</h3>
  Any requests or questions regarding privacy on our Platform can be made using the designated form available at <a href="https://weekend-fly.com/contacts/new">weekend-fly.com</a>.
  <h3>Data Collection</h3>
  It is important to distinguish between personal and non-personal data. Merely visiting our Website does not result in the collection of personal data. User personal data may be collected, subject to the user's agreement after creating a user account on our Platform, whether during a free trial, subscription, or newsletter registration by providing an email.
  </br></br>
  Our Services are not intended for use by individuals under 18 years of age. If you are under 18, you cannot use our Services without parental approval.
  </br></br>
  To use our Services, you need to create a user account where you can set preferences, which are modifiable at any time, or create a partner account.
  </br></br>
  Weekend-Fly will link all your information to your account in accordance with this privacy policy. Categories of information collected by our Website may include some or all of the following elements, depending on how you choose to use our Services.
  </br></br>
  Each time you use our Services, we will process the following data:
  <p><b>Personal Data</b></p>
  <ul>
    <li>A user account, including: an avatar (optional), a username, an email address, your password, and preferences including your origin airport (identifying your country of origin)</li>
    <li>A partner account including: the company name, activity, description of your services, Register number, and applicable VAT.</li>
  </ul>

  Please note that false, incorrect, or outdated information may affect our ability to provide services and contact you if necessary. We will explicitly indicate mandatory fields. Failure to enter required data in these fields may prevent you from setting up a user account or partner account.
  </br></br>
  Information you share may also be personal if, through hyperlinks, comments, aircraft registration number, or aircraft brand, you can be identified. However, you will have the option to choose which information is exposed to other users.
  <p><b>Billing Data</b></p>
  Billing information such as your name, first name, company name, address, country of residence, phone number (optional), including information about the services you purchase or request to issue an invoice. This information is legally required to be able to issue an invoice to you.
  </br></br>
  All payments are made through external payment service providers based in Europe. Therefore, your payment data will not be stored by us.

  <h2 id="article2">Use of Your Information (Purpose of Processing Personal Data)</h2>
  We may use the information collected from you or provided by you to identify you as a unique user:
  <ul>
    <li>to manage your user account;</li>
    <li>to communicate with you in general, respond to your questions and comments, service requests and handle complaints;</li>
    <li>to process transactions;</li>
    <li>to send you our Newsletter, provided you do not unsubscribe;</li>
    <li>to send you our weekend destination recommendations, provided you do not unsubscribe;</li>
    <li>to send you occasional information about the use of our Service;</li>
    <li>to display content and advertisements based on your interests;</li>
    <li>To conduct quizz and surveys;</li>
    <li>to enforce our terms and conditions;</li>
    <li>to contact you when necessary;</li>
    <li>to comply with any applicable law and assist law enforcement agencies under any applicable law, when we believe in good faith that Sky Unlimited's cooperation with law enforcement is legally mandated or meets applicable legal standards and procedures;</li>
    <li>to prevent potentially prohibited or illegal activities, guard against fraud, misappropriation of funds, offenses, identity theft, and other unlawful activities, as well as to prevent the misuse of our services;</li>
    <li>to diagnose or fix technology problems;</li>
    <li>to take action in the event of a dispute or legal proceedings of any kind between you and our Services, or between you and other users or third parties regarding our platform or in connection with it;</li>
    <li>for the purposes outlined in this Privacy Policy and the terms of use;</li>
    <li>in its interactions with its subcotractors, such as our email communications;</li>
    <li>to improve our Website and Services and customize your experience;</li>
    <li>to personalize your experience;</li> 
    <li>to inform you about new products, updates, events, and services;</li>
  </ul>

  <h2 id="article3">Processing when Using Our Contact Form</h2>
  When using our contact form, we will process your request, including the email address you provide, to be able to answer you,
according to Article 6, paragraph 1, point a of the GDPR, based on your voluntary consent.
  </br></br>
  We do not disclose this data without your consent. 
  </br></br>
  If your request is related to the performance of a contract or is necessary for the implementation of pre-contractual measures, the processing of this data is carried out on the basis of Article 6, paragraph 1, point b) of the GDPR
  </br></br>
  In all other cases, the processing is based on our legitimate interest in efficiently handling inquiries addressed to us (Article 6, paragraph 1, point f of the GDPR) or on your consent (Article 6, paragraph 1, point a) of the GDPR) if requested; consent can be revoked at any time.
  </br></br>
  The data you have sent us through contact requests will remain with us until you request deletion, revoke your consent for storage, or the purpose of data storage no longer applies. Mandatory legal provisions, especially legal retention periods, remain unaffected.

  <h2 id="article4">Personal Information You Share with the Community</h2>
  Weekend-Fly sees the community platform as an asset, enabling users to share useful information with fellow users, discuss destinations, airports (fuel prices, etc.), propose events, and more.
  </br></br>
  The decision to mutually assist other pilots in finding travel destinations, whether or not to contribute content to our services, and the visibility of your information to other members of this community is yours.
  </br></br>
  However, we draw your attention to the content you choose to share with all users, or part of it, as it is neither private nor confidential. Especially if you choose to share a hyperlink connecting to personal information such as name, photo, blog, event proposal...
  </br></br>
  The unique username you choose (subject to availability) will be used to identify you when you use our services. It will be associated, visible, and retained with any posts you make (comments, added information, etc.)
  </br></br>
  As a user, it is your choice to determine which of your information will be accessible to all users, restricted to your own community, or kept private.
  </br></br>
  We have no control over the conduct of another user and disclaim any responsibility in this regard. Users are advised to carefully consider whether or not it is appropriate to make any information public or available and to thoroughly review all necessary details related to any communication with other users before any commitment or interaction.
  </br></br>
  The user has the sole and ultimate responsibility for complying with all laws, regulations, or any other duty. We accept no liability for any loss, damage, cost, or expense that you may suffer or incur as a result of or in connection with your participation in any activity or event initiated, held, or conducted by a user or a third party, nor in the context of an agreement between users or third parties, including any activity or event related in any way, directly or indirectly, to our Service or their use.

  <h2 id="article5">Sharing Information with Others (Recipients of Personal Data)</h2>
  Weekend-Fly will not sell your personal data to third parties or share it with third parties for promotional purposes. 
  </br></br>
  Sky Unlimited will not share your personal information with others without your consent, except for the following purposes and to the extent necessary at the company's good faith discretion:
  <ul>
    <li>if necessary for the operation of the Services;</li>
    <li>if we reasonably believe that you have violated the terms of use, or that you have abused your rights to use the Services, or that you have committed an act or omission that, according to Sky Unlimited, in our judgment, violates any applicable law, rule, or regulation. Sky Unlimited may share your information in these cases with law enforcement agencies and other competent authorities, and with any third party who may be required to process any outcomes of your wrongdoing;</li>
    <li>if we are required, or reasonably believe we are required by law, to share or disclose your information;</li>
    <li>in any case of dispute or legal proceedings of any kind between you and Sky Unlimited, or between you and other users regarding the Services or in connection with them;</li>
    <li>in all cases where we reasonably believe that sharing information is necessary to prevent imminent physical harm or material damage;</li>
    <li>if Sky Unlimited organizes the operation of the Services within a different framework, or through another legal structure or entity, or if Sky Unlimited is acquired or merged into or with another entity, or if Sky Unlimited goes bankrupt, provided, however, that these entities agree to be bound by the provisions of this privacy policy, with the respective changes being taken into consideration;</li>
    <li>to facilitate the Service and to store your data on servers in the European Union;</li>
    <li>to collect, store, and manage your personal information through cloud-based services or hosting by a third party or an affiliate or connected party to Sky Unlimited, to the extent feasible for business purposes, which may be located in countries outside your jurisdiction;</li>
    <li>we may also share personal information with companies or organizations connected or affiliated with Sky Unlimited, such as subsidiaries, sister companies, and parent companies. Personal information may also be shared with other partners and service providers of Weekend-Fly to process them on our behalf, based on our instructions and in accordance with this policy and any other appropriate privacy and security measures.</li>
  </ul>

  <h2 id="article6">Retention of Personal Data</h2>
  We retain personal data for as long as necessary to fulfill the purposes for which it was collected. 
  </br></br>
If you make a justified request for deletion or revoke your consent for data processing, your data will be deleted unless we have other legally permissible reasons for storing your personal data (e.g., tax or commercial retention periods); in the latter case, deletion occurs after the end of these reasons.This includes the time necessary to provide you with the requested services, maintain your account, comply with legal obligations, resolve disputes, and enforce our agreements.
 </br></br>
Account inactivity for two years will result in its automatic closure.

  <h2 id="article7">Security of Personal Data</h2>
  The security of your personal data is important to us. 
To ensure optimal respect for your privacy, Sky Unlimited takes appropriate technical and organizational measures to ensure the security and confidentiality of your personal data in order to protect them against any loss, accidental destruction, alteration, and unauthorized access.
  </br></br>
  We follow generally accepted industry standards to protect the personal data submitted to us, both during transmission and once we receive it. However, no method of transmission over the Internet or method of electronic storage is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal data, we cannot guarantee its absolute security.
  </br></br>
  Your login information is your responsibility, and you alone are responsible for any use or misuse of your account and personal data resulting from the transmission of your data to someone else. You must keep your login information confidential and avoid disclosing it to others.

  <h2 id="article8">Control Your Personal Information: Your Rights</h2>
  You have the:
  </br>
  <ul>
    <li><b>Right of access to your personal data:</b> You have the right to access the personal data concerning you that we have collected.</li>
    <li><b>Right of rectification:</b> You have the right to request that we correct or modify the incorrect or incomplete personal data concerning you that we have collected.</li>
    <li><b>Right to be forgotten:</b> You have the right to request that we erase all your personal data that we have collected during your use of our Services; subject to a legitimate reason justifying their retention.</li>
    <li><b>Right to data portability:</b> ou have the right to receive the data you have provided in a structured, current, and machine-readable format and to transmit this data to another data controller.</li>
    <li><b>Right to object:</b> ou have the right to object at any time, for reasons related to your particular situation, to the processing of personal data concerning you, unless Sky Unlimited demonstrates compelling legitimate grounds for the processing which override your interests, rights, and freedoms, or for the establishment, exercise, or defense of legal claims.</br>If we send you electronic marketing messages based on your consent or as otherwise permitted by applicable law, you can at any time withdraw this consent or declare your objection. Any electronic marketing message you receive from us will include a mechanism to opt-out within the message itself, such as an 'unsubscribe' link in the email you receive from us</br>
    <li><b>Right to restriction</b> You have the right to request that we limit the processing of your personal data in certain cases until your request for deletion or modification of your personal data or another objection is processed.</li>
  </ul>
  You can view your user or partner information using the application settings on the user account page on our platform.
  </br></br>
  If you find that the information associated with your account is not accurate, complete, or up-to-date, you must make any necessary changes to correct it.
  </br></br>
  If you wish to assert your rights or have us delete your account, username, and personal information, we invite you to use the dedicated form at <%= link_to t('activerecord.models.contact'), new_contact_path, class: 'link-primary', target: "_blank" %>.
  </br></br>
  Upon receipt of such a request, Sky Unlimited will make reasonable efforts to delete this information, but please note that we cannot immediately delete information from our backup systems.Please also note that some information may be retained as required by law or for legitimate business purposes.

  <h2 id="article9">Non-personal Data - Computer information We Collect</h2>
We may collect information about the use of the Services and information from the device or devices on which you use Weekend-Fly, such as:
  <ul>
    <li>Date and time of access, frequency of your sessions, and query history.</li>
    <li>IP address of the requesting device.</li>
  </ul> 

  <h2 id="article10">Cookie Policy - Plugin</h2>
  The only cookies used are of a technical nature (session), necessary for the proper functioning of the Platform.
  </br></br>
  We do not use advertising cookies.
  </br></br>
  Sky Unlimited may conduct research and compile statistics on overall usage patterns anonymously to improve its services.

  <h2 id="article11">Information Security</h2>
  We ensure that Weekend-Fly is a friendly and safe place for its users, and Sky Unlimited considers information security as a top priority.
  </br></br>
  We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information, in order to minimize the risks of theft, damage, loss of information, unauthorized access, or use of information.
  </br></br>
  However, all our precautions are not able to provide absolute assurance. Therefore, while the company makes great efforts to protect your personal information, Sky Unlimited cannot guarantee that the databases of our platform are immune from any wrongdoing, malfunction, interception, or illegal access, hardware or software failure, or other circumstances, types of abuse, and misuse beyond our control.

  <h2 id="article12">Server Security – International Transfers</h2>
  By using our platform, you acknowledge and agree that the personal data you submit to us will be hosted by us or a third party of our choice for an indefinite period within the European Union.
  </br></br>
  We take measures to ensure that your personal data is processed securely and in accordance with this privacy policy.
  </br></br>
  Your consent to this privacy policy, followed by your submission of personal data, represents your explicit consent to such transfer.

  <h2 id="article13">Contacting Sky Unlimited – Report Abuse</h2>
  If you believe your privacy has been compromised by someone during the use of the Services, or if you have any questions about this privacy policy, the practices of this website, or complaints to submit to us, please contact us via our designated form at <%= link_to t('activerecord.models.contact'), new_contact_path, class: 'link-primary', target: "_blank" %>.

  <h2 id="article14">Changes – Acceptance of the Policy</h2>
  Sky Unlimited reserves the right to make any changes to the 'Privacy' Privacy Policy if deemed necessary or desirable without prior notice.
  </br></br>
  If we make significant changes, we will inform you by posting the new privacy policy on this page and by sending you an email associated with your account. It is recommended to periodically review this privacy policy to be aware of any changes. Changes to this privacy policy are effective upon publication on this page.
</div>
