<div class="container-lg pb-20">
  <h1>Termes et conditions</h1>
  <p class="fs-0-8">Date de dernière mise à jour: 05/01/2024</p>
  L’Application Weekend-Fly est actuellement disponible en version bêta ou "Early Adopters" de manière volontaire. Il s’agit d’une pré version de l’Application en phase test visant à fournir uniquement des évaluations à l’Editeur (Sky Unlimited). Veuillez lire attentivement les dispositions suivantes avant d’utiliser la pré version de l’Application Weekend-Fly.
  </br></br>
  L’Application Weekend-Fly est actuellement disponible en version bêta ce qui signifie qu'elle est encore en développement et peut contenir des erreurs, des bugs ou des fonctionnalités incomplètes. En tant qu'utilisateur, vous comprenez et acceptez que l'Application est fournie "telle quelle" et que son utilisation est à vos propres risques.
  </br></br>
  Sky Unlimited pourra dans ce cadre traiter des données et des données personnelles des utilisateurs afin de lui permettre d’améliorer ses produits et services. Sky Unlimited pourra recueillir et traiter des journaux et des informations de diagnostic, techniques et d’utilisation provenant de l'Application.
  </br></br>
  L’Application Weekend-Fly est susceptible d’évoluer et peut ne pas être disponible pour cette raison.  Sky Unlimited décline toute responsabilité à cet égard. Les utilisateurs de la version bêta de l’Application recevront régulièrement des notifications sur les mises à jour de l’Application et de son statut.
  </br></br>
  Ces conditions sont régies par les lois du Luxembourg. En cas de litige, les tribunaux luxembourgeois auront compétence exclusive.
  </br></br>
  En utilisant cette Application, vous reconnaissez avoir lu, compris et accepté les termes de ce disclaimer. Si vous n'acceptez pas ces termes, veuillez ne pas utiliser l'Application. 












</div>
