<div class="container-lg pb-20">
  <h1>Terms and Conditions</h1>
  <p class="fs-0-8">Last Updated: January, 5th 2024</p>
  The Weekend-Fly Application is currently available in beta or "Early Adopters" version voluntarily. This is a pre-release version of the Application in a testing phase, intended solely for providing evaluations to the Publisher (Sky Unlimited). Please carefully read the following provisions before using the beta version of the Weekend-Fly Application.
  <br><br>
  The Weekend-Fly Application is currently in beta, meaning it is still in development and may contain errors, bugs, or incomplete features. As a user, you understand and agree that the Application is provided "as is," and its use is at your own risk.
  <br><br>
  In this context, Sky Unlimited may process data and personal information of users to improve its products and services. Sky Unlimited may collect and process logs and diagnostic, technical, and usage information from the Application.
  <br><br>
  The Weekend-Fly Application is subject to change and may not be available for this reason. Sky Unlimited disclaims any responsibility in this regard. Users of the beta version of the Application will regularly receive notifications about updates to the Application and its status.
  <br><br>
  These conditions are governed by the laws of Luxembourg. In case of a dispute, the Luxembourgish courts shall have exclusive jurisdiction.
  <br><br>
  By using this Application, you acknowledge having read, understood, and accepted the terms of this disclaimer. If you do not agree to these terms, please do not use the Application.
</div>
