<footer class="container-fluid bg-dark d-flex flex-row justify-content-around py-20">
  <div></div>
  <div class="color-light d-flex flex-column align-items-center">
    <p class="m-5">Sky Unlimited</p>
    <p class="m-5">29, Boulevard Prince Henri</p>
    <p class="m-5">L-1724 Luxembourg</p>
  </div>
  <div></div>
</footer>
