<section class="container-fluid bg-color4 d-flex flex-column py-20">
  <h1  style="color: #F3FADC;" class="text-center">Your <b class="color1">ecological</b> snack, your <b class="color1">positive</b> impact</h1>
  <%= image_tag('sustainable.png', class:"m-auto") %> 
  <div class="d-flex flex-row container-md bg-color-secondary">
    <table style="color: #F3FADC;" class="p-5">
      <tr>
        <td><%= image_tag('sustainable_icon2.png') %></td>
        <td class="p-15">Let's face it, we don't always have the most environment-friendly passion, but <b class="color1">together</b>, we can make the difference.</td>
      </tr>
      <tr class="p-5">
        <td><%= image_tag('sustainable_icon1.png') %></td>
        <td class="p-15">With only <b class="color1">5%</b> of your annual subscription, <b class="color1">50%</b> of your average annual CO2 emissions will be recovered thanks to an NGO specialized in tree planting </td>
      </tr>
      <tr>
        <td><%= image_tag('sustainable_icon3.png') %></td>
        <td class="p-15">Track your number of trees planted with our 🌳 counter, reinforcing your environmental <b class="color1">contribution<b>.</td>
      </tr>
    </table>
  </div>
</section>
