<section class="container-fluid bg-color4 d-flex flex-column py-20">
  <h1  style="color: #F3FADC;" class="text-center">Votre en-cas <b class="color1">écologique</b>, votre impact <b class="color1">positif</b></h1>
  <%= image_tag('sustainable.png', class:"m-auto") %> 
  <div class="d-flex flex-row container-md bg-color-secondary">
    <table style="color: #F3FADC;" class="p-5">
      <tr>
        <td><%= image_tag('sustainable_icon2.png') %></td>
        <td class="p-15">Avouons-le, nous n'avons pas le loisir le plus respectueux de l'environnement, mais <b class="color1">ensemble</b>, nous pouvons faire la différence.</td>
      </tr>
      <tr class="p-5">
        <td><%= image_tag('sustainable_icon1.png') %></td>
        <td class="p-15">En contribuant seulement <b class="color1">5%</b> de votre abonnement annuel, vous pouvez aider à compenser <b class="color1">50%</b> des émissions de CO2 générées par le temps de vol annuel moyen d'un pilote, grâce au soutien d'une ONG spécialisée dans la plantation d'arbres.</td>
      </tr>
      <tr>
        <td><%= image_tag('sustainable_icon3.png') %></td>
        <td class="p-15">Suivez le nombre d'arbres plantés grâce à notre compteur d'arbres 🌳, renforçant ainsi <b class="color1">votre contribution</b> environnementale.</td>
      </tr>
    </table>
  </div>
</section>
