<div class="container-md pt-20">
  <%= link_to "< Back", :back, class: "link-dark" %>
  <h1 class="text-center">Edit your profile</h1>
  <%= render "form", pilot: @pilot, airports: @airports %>
</div>
