.border {
  box-sizing: border-box;
  border-style: solid;
  border-width: var(--border-width, 1px);
  border-color: $dark;
}
.border-top {
  @extend .border;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.border-bottom {
  @extend .border;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.border-left {
  @extend .border;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.border-right {
  @extend .border;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.border-1 {
  --border-width: 1px;
}
.border-2 {
  --border-width: 2px;
}
.border-3 {
  --border-width: 3px;
}
.border-4 {
  --border-width: 4px;
}
.border-5 {
  --border-width: 5px;
}
.border-radius {
  border-radius: $border-radius;
}
.border-primary {
  border-color: $primary;
}
.border-secondary {
  border-color: $secondary;
}
.border-success {
  border-color: $success;
}
.border-danger {
  border-color: $danger;
}
.border-warning {
  border-color: $warning;
}
.border-info {
  border-color: $info;
}
.border-light {
  border-color: $light;
}
.border-dark {
  border-color: $dark;
}
.border-dotted {
  border-style: dotted;
}
.border-dashed {
  border-style: dashed;
}
.border-shadow {
  box-shadow: $box-shadow;
}
