.card-product {
  overflow: hidden;
    background: white;
    border: solid 2px $secondary;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 10px;
    &:hover {
      border: solid 2px $dark;
    }
}
