.card-product {
  overflow: hidden;
    //border: solid 2px $dark;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 10px;
    &:hover {
      //border: solid 2px $dark;
    }
}
.card-small {
  max-width: 350px;
}
.card {
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 24px;
  background-color: white;
}
.card-section {
  p {
    margin: 0;
  }
}
