.card-product {
  overflow: hidden;
    //border: solid 2px $dark;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 10px;
    &:hover {
      //border: solid 2px $dark;
    }
}
