.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.color-success {
  color: $success;
}
.color-danger {
  color: $danger;
}
.color-warning {
  color: $warning;
}
.color-info {
  color: $info;
}
.color-light {
  color: $light;
}
.color-dark {
  color: $dark;
}
.color1 {
  color: $color1;
}
.color2 {
  color: $color2;
}
.color3 {
  color: $color3;
}
.color4 {
  color: $color4;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-success {
  background-color: $success;
}
.bg-danger {
  background-color: $danger;
}
.bg-warning {
  background-color: $warning;
}
.bg-info {
  background-color: $info;
}
.bg-light {
  background-color: $light;
}
.bg-dark {
  background-color: $dark;
}
.bg-transparent {
  background-color: transparent;
}
.bg-color1 {
  background-color: $color1;
}
.bg-color2 {
  background-color: $color2;
}
.bg-color3 {
  background-color: $color3;
}
.bg-color4 {
  background-color: $color4;
}
