// https://getbootstrap.com/docs/5.3/layout/containers/#responsive-containers
// We follow the same logic.

.container { 
  width: 100%;
  margin: 0 auto; 
}
.container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: 100%;
  margin: 0 auto; 
}
.container-fluid {
  width: 100%;
}

// small devices - sm
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container-sm {
    max-width: 540px;
  }
}
// medium devices - md
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container-md {
    max-width: 720px;
  }
}
// large devices - lg
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container-lg {
    max-width: 960px;
  }
}
// x-large devices - xl
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container-xl {
    max-width: 1140px;
  }
}
// xx-large devices - xxl
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .container-xxl {
    max-width: 1320px;
  }
}
