.tag {
  padding: 4px 8px;
  border-radius: $border-radius;
  font-size: 14px;
  width: fit-content;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
}
.tag-primary {
  @extend .tag;
  color: $white;
  text-decoration: none;
  background-color: $primary;
  border: 1px solid $primary;
  transition: 0.25s;
}
.tag-secondary {
  @extend .tag;
  color: $white;
  text-decoration: none;
  background-color: $secondary;
  border: 1px solid $secondary;
  transition: 0.25s;
}
.tag-success {
  @extend .tag;
  color: $white;
  text-decoration: none;
  background-color: $success;
  border: 1px solid $success;
  transition: 0.25s;
}
.tag-danger {
  @extend .tag;
  color: $white;
  text-decoration: none;
  background-color: $danger;
  border: 1px solid $danger;
  transition: 0.25s;
}
.tag-warning {
  @extend .tag;
  color: $dark;
  text-decoration: none;
  background-color: $warning;
  border: 1px solid $warning;
  transition: 0.25s;
}
.tag-info {
  @extend .tag;
  color: $dark;
  text-decoration: none;
  background-color: $info;
  border: 1px solid $info;
  transition: 0.25s;
}
.tag-light {
  @extend .tag;
  color: $dark;
  text-decoration: none;
  background-color: $light;
  border: 1px solid $light;
  transition: 0.25s;
}
.tag-dark {
  @extend .tag;
  color: $white;
  text-decoration: none;
  background-color: $dark;
  border: 1px solid $dark;
  transition: 0.25s;
}
.tag-outline-primary {
  @extend .tag;
  color: $primary;
  text-decoration: none;
  border: 1px solid $primary;
  transition: 0.25s;
}
.tag-outline-secondary {
  @extend .tag;
  color: $secondary;
  text-decoration: none;
  border: 1px solid $secondary;
  transition: 0.25s;
}
.tag-outline-success {
  @extend .tag;
  color: $success;
  text-decoration: none;
  border: 1px solid $success;
  transition: 0.25s;
}
.tag-outline-danger {
  @extend .tag;
  color: $danger;
  text-decoration: none;
  border: 1px solid $danger;
  transition: 0.25s;
}
.tag-outline-warning {
  @extend .tag;
  color: $warning;
  text-decoration: none;
  border: 1px solid $warning;
  transition: 0.25s;
}
.tag-outline-info {
  @extend .tag;
  color: $info;
  text-decoration: none;
  border: 1px solid $info;
  transition: 0.25s;
}
.tag-outline-light {
  @extend .tag;
  color: $light;
  text-decoration: none;
  border: 1px solid $light;
  transition: 0.25s;
}
.tag-outline-dark {
  @extend .tag;
  color: $dark;
  text-decoration: none;
  border: 1px solid $dark;
  transition: 0.25s;
}
