.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}
.text-center {
  text-align: center;
}
.lh-1 {
  line-height: 1;
}
.lh-sm {
  line-height: 1.25;
}
.lh-base {
  line-height: 1.5;
}
.lh-lg {
  line-height: 2;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-decoration-line-through {
  text-decoration: line-through;
}
.fs-0-8 {
  font-size: 0.8em;
}
.fs-1 {
  font-size: 1em;
}
.fs-1-2 {
  font-size: 1.2em;
}
